@model string
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword</title>
    <link rel="stylesheet" href="~/home/CSS/bLogin_v2.css">
</head>

<body>
    <div class="container MyCss4">
        <div class="con">
            <div class="MyBackButton" onclick="location.href='/home/Login'">

            </div>
            <header class="head-form">
                <h2>忘記密碼</h2>
            </header>

            <div id="MyInputBoxContainer" class="field-set">
                <div id="MyInputTitle">請輸入Google信箱</div>
                <div class="myCss1 fa fa-user-circle input-item">
                    <input id="MyInputBox" class="MyCssInputBox" name="Email" onfocus="myFunction(this)" onblur="myFunction2(this)" type="text" placeholder="請輸入Google信箱" required>
                </div>
            </div>


            <div class="MyCssHint" id="MyHint">@Model</div>

            <button type="submit" onclick="SendMail(this)" class="sendmail MyCss5 Bbutton"> 發送郵件 </button>
        </div>
    </div>
    <script>
        MyInputTitle.style.visibility = "hidden";
        MyInputTitle.className += "MyCssInputTitle";
        function myFunction(e) {
            MyInputTitle.style.visibility = "visible";
            e.placeholder = "";
        }
        function myFunction2(e) {
            MyInputTitle.style.visibility = "hidden";
            e.placeholder = "請輸入Google信箱";
        }
        var time = {
            min: 5,
            sec: 0,
            t: function () {
                if (this.sec - 1 < 0) {
                    if (this.min - 1 > 0) {
                        this.min -= 1;
                    }
                    else {
                        return false;
                    }
                    this.sec = 59;
                }
                else {
                    this.sec -= 1;
                }
                return true;
            },
            secShow: function () {
                var x = this.sec.toString();
                if (x.length < 2)
                    x = "0" + x;

                return x;
            },
            initial: function () {
                this.min = 5;
                this.sec = 0;
            }
        }
        function SendTime() {
            if (MyHint.innerText == "認證信已寄出") {
                time.initial();
                var MyInterval = setInterval(function () {
                    MyHint.innerText = `認證信剩餘有效時間 ${time.min}:${time.secShow()}`;
                    if (!time.t()) {
                        clearInterval(MyInterval);
                        history.go(0);
                    };
                }, 1000)
                document.querySelector(".sendmail").disable = true;
            }
        }
        function SendMail() {
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                ShowHint(xhr.responseText);
            }
            xhr.open('post', '/home/ForgotPassword', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.send(`Email=${MyInputBox.value}`);
        }

        function ShowHint(text) {
            var X = document.querySelector("#MyHint")
            X.innerText = text;
            SendTime();
        }
        
    </script>
</body>
</html>