<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/home/CSS/aHomePage_V2.css">
    <!-- <link rel="stylesheet" href="./CSS/Equal Width Menu.css"> -->
    <title>HomePage</title>
</head>

<body>
    <div class="hero-image">
        <input type="button" class="hero-text" value="L　O　G　I　N" onclick="location.href='/home/Login'"/>
    </div>

    <!-- <p><button>Start</button></p> -->

</body>

</html>