@using WorkoutHunterV2.Models.DbModels
@model List<Item>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>workout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/student/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/student/js/bootstrap.min.js" rel="stylesheet">
        <link href="~/student/dist/rpgui.min.css" rel="stylesheet" type="text/css">
        <link href="~/student/My.css" rel="stylesheet" type="text/css">
        <style>
            body {
                background-image: url(/student/img/indexBG.gif);
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                -o-background-size: 100% 100%, auto;
                -moz-background-size: 100% 100%, auto;
                -webkit-background-size: 100% 100%, auto;
                background-size: 100% 100%, auto;
            }

            body, html {
                height: 100%;
            }

            .Back {
                background-image: url(/student/img/GameBack.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 30px;
            }

            .MyBtn:hover {
                cursor: url(/student/dist/img/cursor/point.png), pointer;
            }

            @@media(max-width:768px) {
                .npc {
                    display: none;
                }

                .npc2 {
                    display: none;
                }
            }

            .npc {
                background-image: url(/student/img/npc.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 9em;
                height: 13em;
                position: absolute;
                left: 0px;
                bottom: 0px;
                display: none;
            }

            .npc2 {
                background-image: url(/student/img/npc2.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 9em;
                height: 13em;
                position: absolute;
                right: 0px;
                bottom: 0px;
                display: none;
            }
        </style>
    </head>

    <body>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-10 nav_div m-4 w-75" style="padding-top:0px">
                    <div class="row Back MyBtn" onclick="location.href='/Student/Index'"></div>
                    <div class="row">
                        <div class="col-12 commodity_div topnav_box">
                            <div class="row row-cols-1 row-cols-md-5 g-4">
                                <!--(row-cols-md-5)change how many commodity in one line -->
                                <!-- copy start here -->
                                @{int i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    string str = $"item_{i.ToString().PadLeft(3, '0')}";
                                    <div class="col">
                                        <div class="card boder_div @str">
                                            <img src="~/student/xMallPic/@item.ItemPic" class="img">
                                            <div class="defaultCursor card-body rpgFont">
                                                @item.ItemInfo
                                            </div>
                                        </div>
                                    </div>
                                }

                                <!-- copy end here for one -->
                            </div>
                        </div>
                        <div class="row text-end" style="padding-top:0.5em">
                            <div class="col-6 align-self-center text-center money" id="TotalMoney">$0</div>
                            <div class="col-6">
                                <button type="button" class="btn rpgui-button rpgFont" onclick="modalBtn()">OK</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="npc"></div>
        <div class="npc2"></div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content boder_div rpgFont">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title" id="exampleModalLabel">確認購買</h5>
                    </div>
                    <div class="modal-body text-center">
                        購買品項
                    </div>
                    <div id="selectItem" style="display: flex; align-self: center; flex-wrap:wrap"></div>
                    <div class="modal-footer justify-content-center">
                        <button onclick="SendBuyData(this)" type="button" class="btn btn-primary">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content boder_div rpgFont">
                    <h5 class="modal-title text-center" style="line-height: 100px;" id="exampleModalLabel2">尚無商品</h5>
                </div>
            </div>
        </div>

        <script src="~/student/js/jquery-3.6.0.min.js"></script>
        <script src="~/student/js/popper.min.js"></script>
        <script src="~/student/js/bootstrap.min.js"></script>

        <script>
            // 確認購買
            function modalBtn() {
                var idstr;
                if (arr.length == 0)
                    idstr = "exampleModal2";
                else
                    idstr = "exampleModal";
                var modalElement = new bootstrap.Modal(document.getElementById(idstr), {
                    keyboard: false
                })
                modalElement.show()
                var Data = document.getElementById('selectItem')

                arr.forEach(function (item, index) {
                    Data.append(item)
                    // 購買項目被點擊的事件
                    item.onclick = function () {
                        CancelBuyItem(this, modalElement);
                    }

                })
            }

            function CancelBuyItem(A, modalElement) {
                console.log(A);

                arr.splice(arr.indexOf(A), 1)
                var r = /item_\d{1,3}/;
                var clsN = r.exec(A.className)[0]
                var same = false;
                // 金額減少
                r = /item_(\d{1,3})/;
                var ind = parseInt(r.exec(A.className)[1]);
                var price = 0;
                if (ind <= 5) {
                    price = ind * 50;
                }
                else if (ind <= 10) {
                    price = (ind - 5) * 50;
                }
                else if (ind <= 15) {
                    price = (ind - 10) * 50;
                };
                var eCM = document.querySelector("#TotalMoney");
                var CM = parseInt(eCM.innerText.substring(1));
                CM -= price;
                eCM.innerText = `$${CM}`;

                // 如果購物車是空的
                if (arr.length == 0) {
                    modalElement.hide();
                }
                // 對陣列做查詢
                arr.forEach(function (value, index) {
                    // 查詢是否有與自己相同className的元素
                    if (r.exec(value.className) == clsN) {
                        same = true;
                    }
                })
                // 若沒有相同，購買項目的紅色邊框取消
                if (!same) {
                    document.querySelector(`.${clsN}`).style.borderImageSource = "";
                }
                A.remove();
            }


            // 點擊回饋
            var cl = [];
            function init(x, y) {
                var c = document.createElement("canvas");
                cl.push(c);
                c.width = "70";
                c.height = "70";
                c.style.position = "absolute";
                c.style.left = `${x}px`;
                c.style.top = `${y - 70}px`;
                draw(c);
                var i = 0;
                var aI = setInterval(function () {
                    draw(c);
                    i++;
                    if (i == 10) {
                        cl.splice(cl.indexOf(c), 1);
                        c.remove();
                        clearInterval(aI);
                    }
                }, 40)
            }
            function draw(c) {
                var ctx = c.getContext("2d");
                ctx.clearRect(0, 0, 80, 80);
                ctx.font = "30px Comic Sans MS";
                ctx.fillStyle = "#FCDC4C";
                ctx.fillText("+1", 30, 70);
                ctx.translate(1, -2);
                ctx.scale(1.01, 1.01);
                document.querySelector("body").appendChild(c);
            }


            // 初始設定，點擊後紅色邊框
            var x = document.getElementsByClassName('col')
            var arr = [];
            for (i = 0; i <= 14; i++) {
                var target = x[i].firstElementChild;
                target.addEventListener("click", function (e) {
                    $(this).css({
                        "border-image-source": "url(/student/dist/img/border-image_red.png)"
                    });
                    // 確認價格
                    var r = /item_(\d{1,3})/;
                    var ind = parseInt(r.exec(this.className)[1]);
                    var price = 0;
                    if (ind <= 5) {
                        price = ind * 50;
                    }
                    else if (ind <= 10) {
                        price = (ind - 5) * 50;
                    }
                    else if (ind <= 15) {
                        price = (ind - 10) * 50;
                    };


                    // 按下增加價格
                    var eCM = document.querySelector("#TotalMoney");
                    var CM = parseInt(eCM.innerText.substring(1));
                    CM += price;
                    eCM.innerText = `$${CM}`;

                    var clone = this.cloneNode(true)
                    clone.style['height'] = "120px";
                    clone.style['width'] = "120px";
                    clone.querySelector(".rpgFont").remove();
                    arr.push(clone);
                    init(e.x, e.y);
                })
            }

            // 點擊購買按鈕
            function SendBuyData() {
                // 顯示目前產品項目
                var shoppingCar = document.querySelector("#selectItem").childNodes;
                if (shoppingCar.length == 0) {
                    // 購物車無商品

                    return false;
                }
                var r = /item_(\d{1,3})/;
                var data = [];
                for (var i = 0; i < shoppingCar.length; i++) {
                    data.push(parseInt(r.exec(shoppingCar[i].className)[1]));
                }
                // 傳給後端
                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    location.pathname = "/Student/Index";
                };
                xhr.open('post', '/Student/Shopping', true);
                xhr.setRequestHeader('Content-type', 'application/json');
                var data = JSON.stringify(data);
                xhr.send(data);
                return true;
            }
        </script>
    </body>

</html>